.page-icon-container, .page-icon {
    width: 100px;
    height: 100px;
}

.page-icon-container {
    border-radius: 50%;
    overflow: hidden;
}

.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
}