:root {
    background-color: #2b2f5e;
    --main-text-color: #FFFFFF;
    --secondary-text-color:#B0C4DE;

    color: var(--secondary-text-color);
}

h1, h2, h3 {
    color: var(--main-text-color);
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

.page-icon-container, .page-icon {
    width: 100px;
    height: 100px;
}

.page-icon-container {
    border-radius: 50%;
    overflow: hidden;
}

.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
}