:root {
    --main-color: #2b2f5e;
    --secondary-color: #2e3440;
    --main-text-color: #FFFFFF;
    --secondary-text-color:#B0C4DE;

    background-color: var(--main-color);
    color: var(--secondary-text-color);
}

h1, h2, h3 {
    color: var(--main-text-color);
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}